# See http://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# production
build
dist

# misc
.DS_Store
npm-debug.log

# env files
env/
.env
.env.yaml
.env.staging.yaml
.env.production.yaml
.env.json

# test
coverage/